.App {
    margin-left: 250px;
    width: 600px;
    border: 1px solid red;
}

li {
    list-style: none;
}

.App-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    border: none;
    outline: none;
    cursor: pointer;
}