.todo {
    width: 400px;
    border: 3px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 1em;
    font-size: 1.2em;
}

.todo__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.completed {
    text-decoration: line-through;
    opacity: .5;
}

.todo__completed {
    background-color: hsl(80, 70%, 55%);
}

.todo__buttons {
    display: flex;
}

.buttonsImg {
    width: 32px;
    cursor: pointer;
}

.todo__buttons div:first-child {
    margin-right: 1em;
}


.buttonsImg:hover {
    transform: scale(1.1);
    transition: 3s;
}