.todo {
    width: 400px;
    border: 2px solid orange;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    margin-bottom: 1em;
}
.completed {
    text-decoration: line-through;
    opacity: .5;
}
